*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(22, 85, 22);
    font-size: 48px;
    margin-bottom: 50px;
}

p{
    font-weight: bold;
    color: rgb(109, 106, 106);
    font-size: 18px;
    margin-bottom: 5px;
}

span{
    color: orangered;
}